body {
  font-family: Open Sans, sans-serif;
  background: #fff;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}

.logo-web {
  color: #28a745;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.logo {
  color: #fff;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}
.header {
  background-color: gray;
}
.nav-link {
  color: #fff;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.56;
  padding: 20px 0;
}
.container {
  width: 1360px;
  margin: 0 auto;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.hero-section {
  padding: 280px 0;
  background-color: darkgray;
  text-align: center;
}
.main-title {
  color: #e9e9e9;
  text-align: center;
  font-size: 55px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 24px;
}
.text-hero {
  color: #e9e9e9;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.67;
  margin-bottom: 41px;
}
.button-itself {
  border-radius: 5px;
  background: #28a745;
  width: 165px;
  height: 48px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
}
