<section class="blog">
    <div class="container blog-container">
      <div class="blog-post-container">
        <p class="blog-text">April 16 2020</p>
        <h2 class="blog-title">Blog Post One</h2>
        <p class="blog-sab-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Voluptate, ipsum dignissimos quae laudantium asperiores nam
          aliquid impedit harum illum dolore explicabo ab dolores itaque
          rerum temporibus doloribus iste maiores deleniti?
        </p>
        <button class="blog-button" type="button">Read Our Blog</button>
      </div>
      <img
        class="blog-foto"
        src="./images/blog/Blog.jpg"
        alt="Blog"
        width="670"
      />
    </div>
  </section>