<section class="cases-section">
    <div class="container">
      <p class="cases-sab-title">This is what we do</p>
      <h2 class="cases-title">Business Cases</h2>
      <p class="cases-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
        sapiente!
      </p>
      <ul class="cases-list">
        <li class="cases-item">
          <img src="./images/cases/case_1.jpg" alt="case_1" width="421" />
        </li>
        <li class="cases-item">
          <img src="./images/cases/case_2.jpg" alt="case_2" width="421" />
        </li>
        <li class="cases-item">
          <img src="./images/cases/case_3.jpg" alt="case_3" width="421" />
        </li>
        <li class="cases-item">
          <img src="./images/cases/case_4.jpg" alt="case_4" width="421" />
        </li>
        <li class="cases-item">
          <img src="./images/cases/case_5.jpg" alt="case_5" width="421" />
        </li>
        <li class="cases-item">
          <img src="./images/cases/case_6.jpg" alt="case_6" width="421" />
        </li>
      </ul>
    </div>
  </section>