<section class="loking-for">
  <div class="container loking-for-conteiner">
    <img src="./images/group.jpg" alt="Group of people" width="670" />
    <div class="loking-for-section-conteiner">
      <p class="loking-for-section-paragraf">What you are looking for</p>
      <h2 class="loking-for-section-title">We provide bespoke solutions</h2>
      <p class="loking-for-section-paragraf-full">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate,
        ipsum dignissimos quae laudantium asperiores nam aliquid impedit harum
        illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?
      </p>
      <button type="button" class="loking-for-section-button">Read More</button>
    </div>
  </div>
</section>
