<section class="team">
    <div class="container">
            <p class="team-subtitle">Who we are</p>
            <h2 class="team-title">Our Professional Team</h2>
            <p class="team-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
                sapiente!
            </p>
            <ul class="team-list">
                <li class="team-item">
                    <img width="421" src="./images/prof team/john_doe.jpg" alt="john_doe" />
                    <div class="team-item-wrapper">
                        <h3 class="team-item-name">John Doe</h3>
                        <p class="team-item-subscribe">President</p>
                    </div>                  
                </li>
                <li class="team-item">
                    <img width="421" src="./images/prof team/jane_doe.jpg" alt="jane_doe" />
                    <div class="team-item-wrapper">
                        <h3 class="team-item-name">Jane Doe</h3>
                        <p class="team-item-subscribe">Vice President</p>
                    </div>
                </li>
                <li class="team-item">
                    <img width="421" src="./images/prof team/steve_smith.jpg" alt="steve_smith" />
                   <div  class="team-item-wrapper">
                        <h3 class="team-item-name">Steve Smith</h3>
                        <p class="team-item-subscribe">Marketing Head</p>
                   </div>
                </li>
            </ul>
    </div>

</section>